#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f6f6f2;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #6fb3b8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #6fb3b8);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.social-container {
  background: #badfe7;
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

a.linkedin {
  color: #0077b5;
}

a.github {
  color: #333;
}

.page {
  max-width: 100%;
  @media (min-width: 768px) {
    max-width: 50%;
    translate: 50%;
  }
}

.CV {
  /* width: 75%; */
  /* translate: 25%; */
  text-align: left;
}

.header {
  padding: 20px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
}

.footer {
  padding: 20px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #ffffff !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px white !important;
}
